
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

.amarante-regular {
    font-family: "Amarante", cursive;
    font-weight: 400;
  }

  body {
    padding-top: 73.6px; /* Height of header */
  }
  
.poppins-regular {
    font-family: "Poppins", sans-serif;
}